<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Phansite Archive</title>
</head>
<body>
  <div class="main-site-container">
    <div class="welcome-banner">
      <div class="text-wrap">
        <div class="header">Welcome to Phansite archive</div>
        <div class="desc">
          You'll find here all archived threads from Phansite forum.
        </div>
      </div>
    </div>

    <div class="box-wrapper">
      
    </div>
  </div>
</body>
</html>