<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <title>Phansite Archive</title>
</head>
<body>
  <div class="main-site-container">
    <a class="welcome-banner" href="/">
      <div class="text-wrap">
        <div class="header">Welcome to Phansite archive (beta)</div>
        <div class="desc">
          You'll find here all archived threads from the Phansite forum.
        </div>
      </div>
    </a>

    <div class="box-wrapper">
      <div class="search-wrapper">
        <h3 style="margin: 0px 0px 10px 0px;">{{topMessage}}</h3>
        <div class="input-wrapper">
          <input type="text" placeholder="Search for a thread" class="thread-search" value="{{query}}">
          <button type="button" class="thread-search-btn">Search</button>
        </div>
        <input type="checkbox"
          id="search-content"
          {{#showContent}}
            checked
          {{/showContent}}
          >
        <label for="search-content">Also search thread content</label>
      </div>
      <div class="threads-wrapper">
        {{#threads}}
          <div class="thread-wrapper">
            <a class="left" href="/user/{{creator}}">
              <img 
                src="https://i.pinimg.com/originals/64/21/e6/6421e6cb725f2a0fe6be9aa4073c4245.jpg"
                check-src="https://res.cloudinary.com/phansite/image/upload/avatars/{{creator}}"
                class="avatar">
            </a><!--
            --><a class="right" href="/thread/{{id}}">
              <div class="top">
                <div class="tag">{{tag}}</div>
                <div class="name">
                  {{{name}}}
                </div>
                <div class="count">
                  {{posts}} posts
                </div>
              </div>
              <div class="bottom">
                <div class="created">
                  By {{creator}}, <span class="time" time="{{date}}"></span>
                </div>
              </div>
              {{#showContent}}
                <div class="content">
                  {{content}}
                </div>
              {{/showContent}}
            </a>
            <div class="sep"></div>
          </div>
        {{/threads}}
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
  integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data-10-year-range.min.js"
  integrity="sha512-48hjVXIRd5d3sGKDfphGflqnxq91J14nwVO5Q6dHhK66n9XjP4zg0YR8IJRNZSJAVCrjjTU4fgpQgXeyx2lHNA=="
  crossorigin="anonymous"></script>
  <script src="/scripts/time.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>