body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181818;
  color: white;
}

* {
  box-sizing: border-box;
}

input, textarea {
  border: 0px;
  border-radius: 0px;
  outline: none;
}

.main-site-container {
  .welcome-banner {
    width: 100%;
    height: 35vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/banner.png);
    display: block;
    text-decoration: none;
    .text-wrap {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(calc(-50% - 25px));
      color: rgb(235, 235, 235);
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 15px;
      box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 40%);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      .header {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .desc {
        font-size: 17px;
      }
    }
  }

  .box-wrapper {
    position: relative;
    max-width: 1000px;
    width: 100%;
    min-height: 300px;
    background-color: #910000;
    margin: auto;
    margin-top: -50px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;

    .search-wrapper {
      padding: 10px;
      background-color: #bc0000;
      border-radius: 10px;
      margin-bottom: 5px;
      label {
        font-size: 12px;
      }
    }

    .input-wrapper {
      margin-bottom: 10px;
      display: flex;
      .thread-search {
        border-radius: 10px 0px 0px 10px;
        background-color: #580b0b;
        color: white;
        font-size: 18px;
        padding: 8px 15px;
        width: 100%;

        &::placeholder {
          color: rgb(161, 161, 161);
        }
      }

      .thread-search-btn {
        border: 0px;
        border-radius: 0px 10px 10px 0px;
        outline: none;
        cursor: pointer;
        background-color: black;
        color: white;
        width: 90px;
      }
    }

    .thread-wrapper {
      $leftWidth: 50px;
      transition: 0.2s;
      border-radius: 8px;
      padding: 5px;
      position: relative;
      .sep {
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: #580b0b;
      }
      &:hover {
        background-color: #a70707;
      }
      .left {
        display: inline-block;
        width: $leftWidth;
        height: $leftWidth;
        padding: 5px;
        .avatar {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
          vertical-align: top;
        }
      }
      .right {
        width: calc(100% - #{$leftWidth});
        display: inline-block;
        padding-left: 5px;
        text-decoration: none;
        vertical-align: text-top;
        .top {
          position: relative;
        }
        .tag {
          display: inline-block;
          background-color: black;
          color: white;
          text-decoration: none;
          font-size: 12px;
          padding: 2px 8px;
          border-radius: 5px;
          vertical-align: top;
          &:empty {
            display: none;
          }
        }
        .name {
          display: inline-block;
          color: white;
          max-width: calc(100% - 150px);
          width: 100%;
        }
        .count {
          color: white;
          position: absolute;
          font-size: 14px;
          right: 20px;
          top: 10px;
        }
        .bottom {
          margin-top: 5px;
          .created {
            color: white;
            font-size: 12px;
            color: rgb(204, 204, 204);
          }
        }
        .content {
          color: white;
          font-size: 13px;
          margin: 10px 0px;
          background-color: #700000;
          padding: 10px;
          border-radius: 10px;
          word-break: break-word;
        }
      }
    }
  }
  .page-buttons {
    margin-top: 20px;
    text-align: center;
    a {
      text-decoration: none;
    }
    button {
      background-color: #580b0b;
      color: white;
      border: 0px;
      border-radius: 10px;
      padding: 8px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.user-profile-container {
  width: 70%;
  margin: auto;
  $avatarHeight: 200px;
  .home {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #000000;
    color: rgb(207, 207, 207);
    font-size: 24px;
    padding: 10px 15px;
    padding-right: 20px;
    border-radius: 0px 0px 15px 0px;
    text-decoration: none;
    z-index: 3;
  }
  .banner {
    width: 100%;
    min-height: $avatarHeight;
    height: 30vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 20px 20px;
  }

  @media (max-width: 1000px) {
    width: 100%;
    .banner {
      border-radius: 0px;
    }
  }

  .avatar-wrap {
    margin-top: -100px;
    margin-left: 40px;
    z-index: 2;
    position: relative;
    .avatar {
      display: inline-block;
      vertical-align: bottom;
      margin-top: -30px;
      object-fit: cover;
      width: $avatarHeight;
      height: $avatarHeight;
      border-radius: 40px;
      position: relative;
      box-shadow: 0px 0px 6px 2px #262626;
    }
    .name {
      display: inline-block;
      font-size: 30px;
      margin-left: 15px;
      margin-bottom: 10px;
    }
    @media (max-width: 1000px) {
      margin-left: 10px;
      .avatar {
        width: calc(#{$avatarHeight} - 50px);
        height: calc(#{$avatarHeight} - 50px);
      }
      .name {
        margin-bottom: 0px;
      }
    }
  }

  .data-wrap {
    margin-top: 50px;
    .categories-wrap {
      display: flex;
      margin-bottom: 10px;
      .category {
        padding: 10px 20px;
        cursor: pointer;
        &.selected {
          border-bottom: 2px solid white;
        }
      }
    }
    .left-right-wrapper {
      display: flex;
    }
    .left, .right {
      display: inline-block;
      width: 70%;
      vertical-align: top;
      padding-right: 20px;
      &.right {
        width: 30%;
        padding-left: 40px;
      }
    }

    .left {
      border-right: 1px solid gray;
      right: 20px;
    }

    .about {
      word-break: break-word;
      white-space: pre-line;
      a {
        color: white;
      }
      quote {
        background-color: #171717;
        display: block;
        padding: 8px 15px;
        color: lightgray;
        border: 2px dotted gray;
        border-radius: 15px;
        margin-bottom: 10px;
        &::before {
          content: attr(user) ' said:';
          display: block;
          margin-bottom: 10px;
          color: white;
          font-size: 14px;
        }
      }
      .link {
        color: white;
        position: relative;
      }
      .image {
        max-width: 100%;
        border-radius: 10px;
      }

      .through {
        text-decoration: line-through;
      }

      .underline {
        text-decoration: underline;
      }

      spoiler {
        background-color: black;
        color: black;
        cursor: pointer;
        transition: 0.3s;

        &.clicked {
          background-color: unset;
          color: white;
          cursor: initial;
        }
      }
    }

    .thread {
      display: block;
      padding-left: 10px;
      border-left: 2px solid white;
      margin-bottom: 10px;
      text-decoration: none;
      word-break: break-word;
      .name {
        color: white;
        text-decoration: underline;
        margin-bottom: 10px;
      }
      .content {
        font-size: 14px;
        color: lightgray;
      }
    }

    .threads-wrap, .posts-wrap {
      display: none;
    }

    @media (max-width: 1000px) {
      .right {
        padding-left: 10px !important;
        width: 40% !important;
      }
      .left {
        padding-left: 10px;
        padding-right: 10px;
        width: 60% !important;
      }
    }
  }
}

.thread-main-wrapper {
  .thread-banner {
    width: 100%;
    height: 35vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/banner.png);
    display: block;
    text-decoration: none;
    
    .text-wrap {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(calc(-50% - 25px));
      color: rgb(235, 235, 235);
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 15px;
      box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 40%);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      .header {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .desc {
        font-size: 17px;
      }
    }
  }

  .box-wrapper {
    position: relative;
    max-width: 1000px;
    width: 100%;
    min-height: 300px;
    background-color: #910000;
    margin: auto;
    margin-top: -50px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;

    .input-wrapper {
      margin-bottom: 10px;
      .thread-search {
        border-radius: 10px;
        background-color: #580b0b;
        color: white;
        font-size: 18px;
        padding: 8px 15px;
        width: 100%;

        &::placeholder {
          color: rgb(161, 161, 161);
        }
      }
    }
    .reply-wrapper {
      width: 100%;
      $leftWidth: 80px;
      @media (max-width: 1000px) {
        $leftWidth: 60px;
      }
      padding: 20px;
      .reply-left {
        display: inline-block;
        width: $leftWidth;
        color: white;
        text-decoration: none;
        vertical-align: top;
        .avatar {
          display: block;
          width: $leftWidth;
          height: $leftWidth;
          object-fit: cover;
          border-radius: 20px;
        }
      }
      .reply-right {
        display: inline-block;
        width: calc(100% - #{$leftWidth});
        padding: 0px 20px;
        .content-container {
          width: 100%;
          padding: 15px 30px;
          padding-top: 20px;
          border-radius: 20px;
          background-color: #580b0b;
          position: relative;

          .nickname-wrapper {
            position: absolute;
            left: 10px;
            top: 0px;
            transform: translateY(calc(-100% + 11px));
            padding: 5px 15px;
            background-color: black;
            color: white;
            border-radius: 15px;
            font-size: 14px;

            .nick {
              padding-right: 8px;
              text-decoration: none;
              color: white;
            }

            .time {
              font-size: 12px;
              color: lightgray;
              padding-left: 8px;
              border-left: 1px solid white;
            }
          }

          .content {
            word-break: break-word;
            white-space: pre-wrap;
          }

          .likes-wrapper {
            padding-top: 10px;

            &:empty {
              padding-top: 0px;
            }
            &:not(:empty)::before {
              content: 'Upvoted by';
              display: inline-block;
              vertical-align: middle;
              font-size: 14px;
              color: lightgray;
              margin-right: 10px;
            }
          }

          .like-wrap {
            width: 20px;
            height: 20px;
            cursor: pointer;
            display: inline-block;
            border-radius: 50%;
            margin-left: -5px;
            text-decoration: none;
            vertical-align: middle;
            position: relative;
            .avatar {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
            .tooltip {
              color: black;
              background-color: white;
              position: absolute;
              top: 0px;
              left: 50%;
              transform: translate(-50%, -90%);
              transition: 0.2s;
              opacity: 0;
              font-size: 10px;
              padding: 2px 5px;
              border-radius: 5px;
              z-index: 3;
              white-space: nowrap;
            }

            &:hover {
              .tooltip {
                opacity: 1;
                transform: translate(-50%, calc(-100% - 5px));
              }
            }
          }

          .thread-name {
            font-size: 40px;
            margin: 5px 0px;
            margin-bottom: 20px;
            font-weight: bold;
            word-break: break-word;
          }

          .edited {
            font-size: 12px;
            color: lightgray;
            margin-top: 10px;
          }

          quote {
            background-color: #171717;
            display: block;
            padding: 8px 15px;
            color: lightgray;
            border: 2px dotted gray;
            border-radius: 15px;
            margin-bottom: 10px;
            &::before {
              content: attr(user) ' said:';
              display: block;
              margin-bottom: 10px;
              color: white;
              font-size: 14px;
            }
          }
          .link {
            color: white;
            position: relative;
          }
          .image {
            max-width: 100%;
            border-radius: 10px;
          }

          .through {
            text-decoration: line-through;
          }

          .underline {
            text-decoration: underline;
          }

          spoiler {
            background-color: black;
            color: black;
            cursor: pointer;
            transition: 0.3s;

            &.clicked {
              background-color: unset;
              color: white;
              cursor: initial;
            }
          }

          .youtube-play {
            position: absolute;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      @media (max-width: 1000px) {
        padding: 20px 0px;
        .thread-name {
          font-size: 30px !important;
        }
        .reply-right {
          padding: 0px 10px;
        }
        .content-container {
          padding: 15px 20px !important;
        }
      }
    }
  }
  .thread-buttons {
    text-align: center;
    a {
      text-decoration: none;
    }
    button {
      background-color: #580b0b;
      color: white;
      border: 0px;
      border-radius: 10px;
      padding: 8px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}